footer {
  text-align: center;
}

footer h2 {
  background-color: var(--green);
  color: var(--lime-text);
  margin-bottom: 16px;
  padding: 16px 0;
  font-size: 18px;
}

footer img {
  max-width: 100%;
  width: 150px;
}
