form button {
  background-color: var(--lime-1);
  font-size: 1rem;
  color: #fff;
  border: none;
  outline: none;
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  filter: brightness(1.1);
}

form button:active {
  filter: brightness(0.9);
}

.input__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 8px;
}

.input__container {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
}

.input__container input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
}

.input__container span {
  height: 40px;
  background-color: var(--dark-gray);
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  width: 140px;
  border-radius: 8px;
}
